.JoinPage{
    background-color: rgb(31, 29, 29);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JoinContainer{
   
   
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(93, 229, 52);
}


.JoinContainer > img{
    width: 10vmax;
}
.JoinContainer > h1{
    color: rgb(0, 0, 0);
    font-size: 2.5vmax;
    width: 25vmax;
    border-bottom: 0.2vmax solid white;
    text-align: center;
    padding: 1vmax;
    font-family: "Roboto";
    box-sizing: border-box;
}


#joinInput{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin: 2vmax;
    box-sizing: border-box;
}
.joinbtn{
    width: 15vmax;
    padding: 1.5vmax;
    border: none;
    color: white;
    margin-bottom: 5px;
    font-family: "Roboto";
    outline: none;
    font-size: 1.2vmax;
   background-color: crimson;
   box-sizing: border-box;
   transition: all 0.3s;
   cursor: pointer;
}
.joinbtn:hover{
    background-color: rgb(180, 27, 58);
}
@media screen and (max-width: 768px) {

    .JoinContainer > h1{
    color: white;
    font-size: 4.5vmax;
    width: 25vmax;
    border-bottom: 0.2vmax solid white;
    text-align: center;
    padding: 1vmax;
    font-family: "Roboto";
    box-sizing: border-box;
}
.JoinContainer{
   
   
    /* width: 50%; */
    width: 100%;
    height: 100%;
    background-color:#25d366 ;
    padding-top: 5vmx;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#joinInput{
    width: 15rem;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 3.2vmax;
    margin: 2vmax;
    box-sizing: border-box;
}
.joinbtn{
    width: 25vmax;
    margin-top: 5vmax;
    padding: 1.5vmax;
    border: none;
    color: white;
    font-family: "Roboto";
    outline: none;
    font-size: 3.2vmax;
   background-color: crimson;
   box-sizing: border-box;
   transition: all 0.3s;
   cursor: pointer;
}
}